* {
    margin: 0;
    padding: 0
}

body{
    background-color: #EAEAF2;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 0.5vw;
}
::-webkit-scrollbar-track {
    background-color: #EAEAF2;
}
::-webkit-scrollbar-thumb{
    background-color: #001C40;
}
/*header/footer config*/
.menu {
    height: 10vh;
    width: 100%;
    background-color: #001C40;
    border-bottom: 5px solid #2D2D4B;
    display: flex;
    justify-content: center;
}

.menu_container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.menu_container_footer {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.menu_logo {
    width: 12%;
    height: 80%;
}

.menu_navbar{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.menu_item{
    font-size: 20px;
    color: #D0AC6C;
    text-decoration: none;
}

/*main banner config*/
.mainBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;

}
#mainBannerImage {
    width: 80%;
    height: 70%;
    background-color: #FFF;
}

/* newsBanner config */
#newsBannerImage{
    width: 40%;
    height: 70%;
    background-color: #FFF;
    
}
#newsCardContainer {
    width: 30%;
    height: 70%;
    margin-left: 10%;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardImage {
    width: 10vw;
    height: 30%;
    background-color: #979797;
}
.cardText {
    width: 70%;
    text-align: center;
}
