* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAEAF2;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6vh;
}

::-webkit-scrollbar{
    width: 0.3vw;
}
::-webkit-scrollbar-track {
    background-color: #EAEAF2;
}
::-webkit-scrollbar-thumb{
    background-color: #001C40;
}
/*header/footer config*/
.menu {
    height: 10vh;
    width: 100%;
    background-color: #001C40;
    border-bottom: 5px solid #001735;
    display: flex;
    justify-content: center;
}

.menu_container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.menu_container_footer {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.menu_logo {
    margin-top: 1vh;
    width: 10.5%;
    height: 70%;
}

.menu_navbar{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.menu_item{
    font-size: 20px;
    color: #D0AC6C;
    text-decoration: none;
}

/*main banner config*/
.mainBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;

}
#mainBannerImage {
    width: 80%;
    height: 80%;
    background-color: #FFF;
    margin-top: 7vh;
}

/* newsBanner config */
#newsBannerImage{
    width: 40%;
    height: 70%;
    background-color: #FFF;
}
#newsCardContainer {
    width: 30%;
    height: 70%;
    margin-left: 10%;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    /* height: 50vh; */
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
.cardImage {
    width: 11vw;
    height: 30%;
    background-color: #B1B1B1;
}
.cardText {
    width: 70%;
    text-align: center;
    padding: 2vh;
}

/* News Container Group config */
#newsContainerGroup {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.containerGroup {
    background-color: #FFF;
    width: 80%;
    height: 30%;
    margin: 2vh;
    align-items: center;
    display: flex;
}
.containerGroupImage {
    background-color: #B1B1B1;
    width: 20%;
    height: 70%;
    margin: 2vh;
    margin-left: 1.5vw;
}
.groupText {
    text-align: start;
}