* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
	color: #000000;
	text-decoration: none;
}
li {
	list-style-type: none;
}
body {
	background-color: #eaeaf2;
	overflow-x: hidden;
	font-family: "Montserrat";
	font-size: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

::-webkit-scrollbar {
	width: 0.3vw;
}
::-webkit-scrollbar-track {
	background-color: #eaeaf2;
}
::-webkit-scrollbar-thumb {
	background-color: #001c40;
}
/*header config*/
.menu {
	height: 12vh;
	width: 100%;
	background-color: #3c3c64;
	box-shadow: 2px 2px 5px 0px #000;
	display: flex;
	justify-content: center;
}

.menu_container {
	display: flex;
	width: 95%;
	justify-content: space-between;
	align-items: center;
}

.menu_logo {
	margin-top: 1vh;
	width: 170px;
	height: 55px;
}

.menu_navbar {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
}

.menu_item {
	font-size: 20px;
	color: #c8aa69;
	text-decoration: none;
}

/*main banner config*/
.mainBanner {
	display: flex;
	width: 100%;
	height: 60vh;
	justify-content: space-evenly;
	align-items: center;
}
#mainBannerImage {
	width: 80%;
	height: 80%;
	margin-top: 7vh;
	background-color: #fff;
}
.images {
	width: 100%;
	height: 100%;
}
/* newsBanner config */
#newsBannerImage {
	width: 40%;
	height: 70%;
	background-color: #fff;
}
.cardsNewsMain {
	width: 30%;
	height: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #ffffff;
}
.MainCard {
	width: 40%;
	height: 95%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.MainCardImage {
	width: 100%;
	height: 40%;
}
.cardText {
	width: 70%;
	text-align: center;
	padding: 2vh;
}

/* News container group config */
#newsContainerGroup {
	display: flex;
	width: 100%;
	height: 90vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.containerGroup {
	display: flex;
	width: 80%;
	height: 30%;
	margin: 2vh;
	align-items: center;
	background-color: #fff;
	font-size: 13px;
}
.containerGroupImage {
	width: 20%;
	height: 70%;
	margin: 2vh;
	margin-left: 1.5vw;
	background-color: #b1b1b1;
}
.groupText {
	text-align: start;
}

/* little banner and column config */
#bannerColumnContainer {
	width: 100vw;
	display: flex;
}
#littleBannerContainer {
	height: 200vh;
	width: 65vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#columnContainer {
	height: 191vh;
	width: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	margin-top: 4.6vh;
}
.littleBanner {
	width: 70%;
	height: 30%;
	margin: 2%;
	background-color: #fff;
}
.columnCard {
	width: 70%;
	height: 15%;
}
.divisor {
	width: 65%;
	height: 0.1%;
	margin: 1.9%;
	border-radius: 10vh;
	background-color: #353535;
}
.columnText {
	display: flex;
	width: 90%;
	flex-direction: column;
	text-align: left;
	margin-top: 5vh;
}

/*footer config*/
.footer {
	display: flex;
	height: 45vh;
	margin-top: 5vh;
}
.footerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#footerText {
	color: #c8aa69;
	width: 30vw;
	margin: 3vh;
	text-align: center;
}
#footerLogo {
	width: 15vw;
	height: 10vh;
}

/* Main News */

.main-news-container {
	background-color: #fff;
	width: 75%;
	margin-top: 10vh;
	padding: 60px 50px 85px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 2px -2px #000;
	border-radius: 2px;
	row-gap: 40px;
}

.main-news-container p {
	font-size: 1rem;
}

/* Upper container */

.upper-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50vh;
}

.img-container {
	width: 42%;
	height: 100%;
	text-align: center;
	row-gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-container h1 {
	font-size: 1.5rem;
}

.image-box {
	background-color: #e6e6e6;
	width: 100%;
	height: 100%;
	display: flex;
}

.image-box img {
	width: 100%;
}

.text-container {
	width: 53%;
	height: 60%;
}

.text-container h3 {
	font-size: 1.2rem;
	padding-bottom: 20px;
	text-align: center;
}

/* lower container */

.lower-container ul {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

/* Other News */

.other-news-container {
	background-color: #fff;
	width: 75%;
	height: 60vh;
	margin-top: 7vh;
	padding: 30px 20px 70px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 2px -2px #000;
	border-radius: 2px;
	row-gap: 40px;
}

.other-news-container h1 {
	text-align: center;
}

.news-list {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
}

.news-list li {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
}
